@import "./_reset";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "./variables";
@import "./elements";

* {
  box-sizing: border-box;
}
body {
  font-family: "PT Serif", serif;
  padding: 40px;
  background-color: #f0f0eb;
}

header {
  h1 {
    font-size: 2.7rem;
    letter-spacing: 1.2px;
    color: #444444;
  }
}

.works {
  margin-top: 160px;
  .works__header,
  .works__list > .works__work {
    display: grid;
    grid-template-columns: 1fr 4fr 7fr;
    border-bottom: 1px solid black;
  }
  .works__header {
    padding: 10px 0;
    span {
      @extend %redTinyText;
    }
  }
  .works__list {
    .works__work {
      padding: 20px 0;
      span {
        display: block;
        font-size: 20px;
        letter-spacing: 1.5px;
      }
      &:hover {
        cursor: pointer;
        font-style: italic;
      }
    }
  }
}

.cv,
.about {
  margin-top: 75px;
  font-size: 30px;
  line-height: 1.5;
  span {
    @extend %redTinyText;
  }
}
